<a href="https://colab.research.google.com/github/VincentLin95/data-science-bootcamp-8/blob/main/Python/HW04%20-%20Web%20Scraping%20from%20IMDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# import function
!pip install gazpacho
from gazpacho import Soup
import requests
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

url = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc"
html = requests.get(url)
imdb = Soup(html.text)

# create titles
titles = imdb.find("h3", {"class": "lister-item-header"})
clean_titles = [title.strip()[3:-7] for title in titles]
clean_titles

# create rating
ratings = imdb.find("div", {"class": "ratings-imdb-rating"})
clean_ratings = [float(rating.strip()) for rating in ratings]
clean_ratings

# create year
clean_year = [int(title.strip()[-5:-1]) for title in titles]
clean_year

# create dataframe
IMDB = pd.DataFrame(data={
    "Titles": clean_titles,
    "Rating": clean_ratings,
    "Year": clean_year
})
IMDB = IMDB.style.hide_index()
IMDB

Requirement already satisfied: gazpacho in /usr/local/lib/python3.10/dist-packages (1.1)